.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 1fr;
    row-gap: 2em;
    column-gap: 3em;
  }
  
  .cards.wrapper {
    margin-top: 0
  }
  
  .cards.wrapper > section {
    padding: 0
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr 0px;
    padding: 0;
  }
  
  .card p {
    border: none
  }
  
  .card > img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .card > a {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2;
    padding: 1.3rem .5rem .2rem;
    text-decoration: none;
    color: #0164b9;
  }
  
  .card > a:hover {
    text-decoration: underline;
  }
  
  .card > ul {
    grid-area: 3 / 1 / 4 / 2;
    list-style: none;
    padding: .4rem .5rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    max-height: 260px;
    overflow-y: scroll
  }
  
  .card > p {
    grid-area: 4 / 1 / 5 / 2;
    align-self: flex-start;
    min-height: 110px;
    line-height: 1.4;
    font-size: .9em;
    padding: .5rem .5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 0 .5rem;
    -webkit-line-clamp: 12
  }
  
  .clamp5 {
    -webkit-line-clamp: 5
  }

  @media only screen and (max-width: 768px) {
    
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
      column-gap: 1em;
      row-gap: 1/5em;
    }

    .card  {
      font-size: 1em;
      line-height: 1.2;
      border: 1px solid #eee;
      border-radius: 0.5em;
    }

    .card > img {
      height: 150px;
    }

    .card > a {
      font-size: 1.2em;
      padding: 0.8rem .5rem .2rem;
    }

  }